<%= form_for(bid) do |f| %>
  <% if bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :bid_amount %>
    <%= f.text_field :bid_amount %>
  </div>

  <div class="field">
    <%= f.label :buid %>
    <%= f.text_field :buid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
