<p id="notice"><%= notice %></p>

<h1>Bids</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>ProductID</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Bid Amount</th>
      <th>BUID</th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= bid.id %></td>
        <td><%= bid.puid %></td>
        <td><%= bid.title %></td>
        <td><%= bid.quantity %></td>
        <td><%= number_to_currency(bid.bid_amount) %></td>
        <td><%= bid.buid %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


