<p id="notice"><%= notice %></p>

<h1>Bidders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>BUID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Limit</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @bidders.each do |bidder| %>
      <tr>
        <td><%= bidder.id %></td>
        <td><%= bidder.buid %></td>
        <td><%= bidder.first_name %></td>
        <td><%= bidder.last_name %></td>
        <td><%= number_to_currency(bidder.limit) %></td>
        <td><%= bidder.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

