<p id="notice"><%= notice %></p>

<h1><%= UiStr::BID_SUMMARY %></h1>

<p><%= "#{UiStr::BID_COUNT} #{@bid_summary.bids.count}" %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= UiStr::PRODUCTID %></th>
      <th><%= UiStr::TITLE %></th>
      <th><%= UiStr::QUANTITY %></th>
      <th><%= UiStr::HIGH_BID %></th>
      <th><%= UiStr::DEMAND %></th>
      <th><%= UiStr::RESERVE_MET %></th>
    </tr>
  </thead>

  <tbody>
    <% @bid_summary.bid_rows.each do |row| %>
      <tr>
        <td><%= row.aucid %></td>
        <td><%= row.title %></td>
        <td><%= row.quantity %></td>
        <td><%= number_to_currency(row.high_bid) %></td>
        <td><%= row.demand %></td>
        <td><%= row.reserve_met %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

