<p id="notice"><%= notice %></p>

<h1>Bid Summary</h1>

<p><%= "BID COUNT: #{@bid_summary.bids.count}" %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ProductID</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>High Bid Amount</th>
      <th>Demand</th>
      <th>Reserve Met?</th>
    </tr>
  </thead>

  <tbody>
    <% @bid_summary.bid_rows.each do |row| %>
      <tr>
        <td><%= row.aucid %></td>
        <td><%= row.title %></td>
        <td><%= row.quantity %></td>
        <td><%= number_to_currency(row.high_bid) %></td>
        <td><%= row.demand %></td>
        <td><%= row.reserve_met %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

