<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>AUCID</th>
      <th>Publisher</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Reserve price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.aucid %></td>
        <td><%= product.publisher %></td>
        <td><%= product.title %></td>
        <td><%= product.quantity %></td>
        <td><%= number_to_currency(product.reserve_price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

