<p id="notice"><%= notice %></p>

<p>
  <strong>Publisher:</strong>
  <%= @product.publisher %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Reserve price:</strong>
  <%= @product.reserve_price %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @product.decimal %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
